:root {
  --primary-font-size: 6em;
  --secondary-font-size: 1em;
}

* {
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(to right, rgba(255, 90, 90, 0.5), rgba(157, 255, 255, 0.5));
  margin: 0;
  height: 100vh;
  user-select: none;
}

/* Header start */

header {
  position: absolute;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.4em;
  overflow: hidden;
  text-align: center;
  top: 10px;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

header a {
  width: 130px;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  text-align: center;
  padding: 15px;
  margin: 0 10px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  float: left;
}

header a:hover {
  background-color: rgb(255, 130, 130);
  color: black;
}

header a.active {
  background-color: rgb(255, 90, 90);
  color: white;
}

/* Header End */

.main {
  width: 500px;
  height: 421.2px;
  position: absolute;
  margin: 0;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.formatMode {
  display: inline;
  height: 22px;
  position: absolute;
  top: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.formatMode input {
  float: left;
  cursor: pointer;
}

.formatMode label {
  display: inline;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 40px;
  height: 20px;
  margin: 0;
  position: relative;
  -webkit-appearance: none;
  background-color: rgb(135, 194, 176);
  border-radius: 20px;
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

input:checked[type="checkbox"] {
  background-color: #ff8282;
  box-shadow: inset 0 0 5px rgba(78, 78, 78, 0.2);
}

input[type="checkbox"]::before {
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  background-color: rgb(80, 176, 255);
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

input:checked[type="checkbox"]::before {
  left: 20px;
}

#clock {
  width: 500px;
  height: 391.2px;
  text-shadow: 0px 0px 2px black, 0 0 3px rgb(157, 255, 255), 0 0 2px rgb(96, 226, 226);
  color: rgb(157, 255, 255);
  background-color: rgb(34, 34, 34);
  font-family: "Orbitron", sans-serif;
  margin: 0;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#meridiem {
  width: 55px;
  height: 110.4px;
  font-size: var(--secondary-font-size);
  line-height: 50px;
  text-align: right;
  font-weight: bold;
  float: left;
}

#timeLabel {
  width: 55px;
  height: 110.4px;
  font-size: var(--secondary-font-size);
  line-height: 50px;
  text-align: left;
  font-weight: 400;
  float: right;
}

.clockTime div, .stopwatchTime div {
  float: left;
}

.clockTime {
  width: 390px;
  height: 110.4px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  float: left;
}

.colon {
  width: 30px;
  height: 110.4px;
  margin: 0;
  padding: 0;
  font-size: var(--primary-font-size);
  text-align: center;
}

#clockHour, #clockMinute, #clockSecond, #stopwatchHour, #stopwatchMinute, #stopwatchSecond {
  width: 110px;
  height: 110.4px;
  font-size: var(--primary-font-size);
  text-align: center;
  float: left;
}

#stopwatchMillisecond {
  width: 110px;
  height: 110.4px;
  line-height: 110.4px;
  font-size: 3em;
  text-align: center;
  float: left;
}

hr {
  width: 95%;
  height: 2px;
  border-width: 0;
  color: rgb(196, 255, 255);
  background-color: rgb(196, 255, 255);
  clear: both;
}

hr.first {
  margin-top: 110.4px;
}

#clockDateLabel, #clockMonthLabel {
  width: 110px;
  height: 20px;
  font-size: var(--secondary-font-size);
}

#clockDayLabel {
  width: 220px;
  height: 20px;
  font-size: var(--secondary-font-size);
}

.clockDate, .clockMonth, .clockDay {
  width: 110px;
  height: 130.4px;
  text-align: center;
  float: left;
}

.slash, .pipe {
  width: 30px;
  padding: 0;
  font-size: var(--primary-font-size);
  text-align: center;
  float: left;
}

.slash {
  height: 110.4px;
  margin-top: 20px;
}

.pipe {
  height: 130.4px;
}

#clockDate, #clockMonth {
  width: 110px;
  height: 110.4px;
  font-size: var(--primary-font-size);
  text-align: center;
}

.clockDay {
  width: 220px;
  height: 130.4px;
}

#clockDayName {
  width: 220px;
  height: 110.4px;
  font-size: var(--primary-font-size);
  text-align: center;
}

hr.second {
  margin-top: 130.4px;
}

.clockYear {
  width: 500px;
  text-align: center;
}

#clockYearLabel {
  width: 500px;
  height: 20px;
  text-align: center;
  font-size: var(--secondary-font-size);
}

#clockYear {
  width: 500px;
  height: 110.4px;
  font-size: var(--primary-font-size);
  text-align: center;
}

#stopwatch, #timer {
  width: 500px;
  height: 391.2px;
  text-shadow: 0px 0px 2px black, 0 0 3px rgb(157, 255, 255), 0 0 2px rgb(96, 226, 226);
  color: rgb(157, 255, 255);
  background-color: rgb(34, 34, 34);
  font-family: "Orbitron", sans-serif;
  margin: 0;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: none;
}

.stopwatchTime {
  width: 500px;
  height: 110.4px;
  position: absolute;
  top: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  float: left;
}

hr.third {
  margin-top: 110.4px;
  margin-bottom: 8px;
}

#lap {
  max-width: 500px;
  max-height: 160.4px;
  overflow: hidden;
  text-align: center;
}

.createdLap {
  color: rgb(244, 180, 26);
  text-shadow: 0px 0px 2px black, 0 0 6px rgb(244, 180, 26), 0 0 3px rgb(204, 148, 16);
  width: 150px;
  margin: 0.025px 8.33px;
  height: 20px;
  line-height: 20px;
  display: inline;
  float: left;
  overflow: hidden;
  text-align: center;
}

span.hash {
  width: 30px;
  text-align: center;
  float: left;
}

span.lapTime {
  width: 120px;
  text-align: center;
  float: right;
}

.lapWarning, .timerWarning {
  width: 210px;
  height: 20.4px;
  line-height: 20.4px;
  text-shadow: 0px 0px 2px black, 0 0 6px rgb(255, 110, 64), 0 0 3px rgb(224, 72, 26);
  color: rgb(255, 110, 64);
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.stopwatchButton, .timerButton {
  width: 500px;
  height: 110.4px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.stopwatchButton button, .timerButton button {
  width: 100px;
  height: 50px;
  margin: 15px 31.82px;
  padding: 0;
  background-color: rgb(255, 130, 130);
  border: 2px solid rgb(255, 130, 130);
  box-shadow: 0px 0px 3px rgb(0, 0, 0), 0 0 10px rgb(189, 71, 71), 0 0 5px rgb(189, 71, 71);
  border-radius: 35px;
  outline: none;
  text-align: center;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.stopwatchButton button:hover, .timerButton button:hover {
  background-color: rgb(255, 92, 92);
}

.stopwatchButton button:active, .timerButton button:active {
  background-color: rgb(177, 47, 47);
  border-color: rgb(255, 92, 92);
}

.timerTime {
  width: 500px;
  height: 280.8px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.timerTime input {
  height: 2em;
  width: 2em;
  font-size: 2em;
  background-color: rgb(95, 158, 160);
  box-shadow: 0px 0px 15px rgb(71, 145, 148), 0 0 10px rgb(29, 132, 136), 0 0 5px rgb(6, 92, 95);
  text-align: center;
  overflow: hidden;
  border: none;
  border-radius: 32px;
  outline: none;
  margin: 20px;
}

.timerTime input::-webkit-outer-spin-button, .timerTime input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.timerTime input[type=number] {
  -moz-appearance: textfield;
}

.timerContent {
  width: 100%;
  height: 176.8px;
  text-align: center;
}

.timerHourDisplay, .timerMinuteDisplay, .timerSecondDisplay {
  display: inline-block;
  height: 100%;
  width: 25%;
  line-height: 176.8px;
  font-size: 7em;
  margin: 0 20px;
  color: rgb(244, 180, 26);
  text-shadow: 0px 0px 2px black, 0 0 6px rgb(244, 180, 26), 0 0 3px rgb(204, 148, 16);
  font-weight: bold;
  text-align: center;
}

.timerHourDisplay {
  float: left;
}

.timerSecondDisplay {
  float: right;
}